@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
.navbar-brand.img-fluid {
    width: 60px; 
    height: 60px; 
    padding: 4px;
}
.navbar-toggler{
    background-color: aliceblue;
}
.nav-toggler{
    align-content: end;
}
.navBar{
    background-color: rgb(133, 133, 133);
    overflow: hidden;
}
.nav-link {
    color:azure;
}
.Title1{
    text-align: center;
}
.subtitle{
    text-align: center;
}
.paragraph{
    text-align: center;
}
b{
    justify-content:right;
}
.Media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.loading{
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
}
.gif{
    width: 160px;
    height: 100px;
}
.header{
    display: flex;
    justify-content:space-evenly;
}
.post-card {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 12px;
    background-color: lightgray;
    border-radius: 10px;
}
.post-title{
    text-align: center;
    font-size: 24px;
    font-weight:bold;
}
.TableTitles{
    text-align: center;
}
.post-title{
    margin-top: 20px;
}
.loading{
    text-align: center;
    font-size: medium;
    margin-top: auto;
}
.createPost{
    align-content: center;
}
body {
    background-color:brown; 
    font-family: Arial, sans-serif;
    display: grid;
    height: 50vh;
}